div#th0ths_movie_collection_options select#labels {
    height: 100px;
    width: 140px;
}

div#th0ths_movie_collection_options input#trim_length {
    width: 60px;
}

div.th0ths_movie_collection_error {
    background-color: #890000;
    color: #FFFFFF;
    padding: 4px;
    margin: 4px 8px 0 0;
}
