#th0ths_movie_collection_slider_wrapper {
    width: 180px;
    margin-top: 5px;
}

#th0ths_movie_collection_slider_container {
    position: relative;
    background: #fff;
    height: 179px;
}

#th0ths_movie_collection_slider_container p {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    margin-top: 6px;
}

#th0ths_movie_collection_slider_container img {
    width: 130px;
}

.sliderbutton {
    float: left;
    width: 25px;
    height: 179px;
    cursor: pointer;
}

#slideleft {
    background: url(../images/widget/icons.gif) -50px -280px no-repeat;
}

#slideleft:hover {
    background-position: -0 -280px;
}

#slideright {
    background: url(../images/widget/icons.gif) 0 75px no-repeat;
}

#slideright:hover {
    background-position: -50px 75px;
}

#th0ths_movie_collection_slider {
    float: left;
    position: relative;
    overflow: auto;
    width: 130px;
    height: 220px;
}

#th0ths_movie_collection_slider ul {
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    padding: 0;
}

#th0ths_movie_collection_slider li {
    float: left;
    width: 134px;
    height: 230px;
    padding: 0;
}

.pagination {
    display: none;
    position: absolute;
    top: 4px;
    right: 30px;
    list-style: none;
    height: 25px;
}

.pagination li {
    float: left;
    cursor: pointer;
    height: 8px;
    width: 8px;
    background: #ccc margin:0 4px 0 0;
    border: 1px solid #fff;
}

.pagination li:hover, li.current {
    background: #fff;
}
