div.th0ths_movie_collection_labels {
	font-size: 12px;
}

div.th0ths_movie_collection_poster {
	float: left;
	padding: 0 10px 4px 10px;
}

hr.th0ths_movie_collection_seperate {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	margin-top: 10px;
	margin-bottom: 10px;
}

div.th0ths_movie_collection_widget_poster {
    margin-top: 5px;
}

div.th0ths_movie_collection_widget_poster, div.th0ths_movie_collection_widget_title {
    text-align: center;
}

div.th0ths_movie_collection_widget_title p {
    font-size: 10px;
    line-height: 10px;
    margin-top: 6px;
}

div.th0ths_movie_collection_widget_poster img {
    width: 130px;
}

/* shortcode */

div.th0ths_movie_collection_sc_wrapper {
    /* pass */
}

div.th0ths_movie_collection_sc_single {
    width: 100%;
    padding-bottom: 20px;
    overflow: auto;
    border-bottom: 1px solid #B7B7B7;
}

div.th0ths_movie_collection_sc_single_poster {
    float: left;
    margin-right: 12px;
}
