div.th0ths_movie_collection_labels {
	font-size: 12px;
}

div.th0ths_movie_collection_poster {
	float: left;
	padding: 0 10px 4px 10px;
}

hr.th0ths_movie_collection_seperate {
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* newest movies shortcode */
div#th0ths_movie_collection_sc_newest_inner img {
	float: left;
	margin: 0 10px 0 0;
}

div#th0ths_movie_collection_sc_newest_inner h3 {
	clear: right;
}

div#th0ths_movie_collection_sc_newest_inner {
	float: left;
	text-align: justify;
}
